<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <title></title>
</head>
<body>



  <header>
    <div class="main-nav">
      <ul class="nav-left">
        <li class= "logo"> MY M£</li>
      </ul>

      <ul class="nav-right">
        <li><a href ="/transactions/new" class="button">Home</a></li>
        <li><a href="/account" class="button">Account</a></li>
      </ul>
    </div>
  </header>



  <main class="flex">
    <div class= "card">

      <p><%= yield %></p>     
    </div>    
  </main>


  <footer>
  <p class="copyright">MY M£ 2016, Claire Smith</p>
    <ul class="footer-links">
      <li class="social">
        <a href="http://codeclan.com" target="_blank">
          <img src="/images/codeclan.jpg">
        </a>
      </li>
      <li class="social">
        <a href="https://www.facebook.com" target="_blank">
          <img src="/images/facebook.png">    
        </a>
      </li>
      <li class="social">
        <a href="https://github.com" target="_blank">
          <img src="/images/github.png">
        <a>
      </li>
    </ul>


  </footer>

</body>
</html>


