.main-nav {
  width: 100%;
  background-color: rgba(48, 56, 105, .9);
  min-height: 160px;
  text-align: center;

  
}


header {
  min-height: 160px;
}

.logo {
  
  list-style-type: none;
  font-size: 28px;
  font-weight: 30px;
  color: white;
  opacity: 1;
}

.nav-left {
  float: left;
  line-height: 150px;
}

.nav-right {
  float: right;
  padding: 0;
  list-style-type: none;
  line-height: 160px;
  margin: 0px;

}

.nav-right li {
  display: inline-block;
  margin-right: 15px;
  font-size: 22px;
  
}

a {
  color: white;
}

body {
  background-image: url("../images/ways-to-save-money.jpg");
  background-size: cover;

  }


.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #303869;
  border-bottom: 4px solid #ccc;
  border-radius: 34px;
  
  color: white;
}

.box {

margin-left: 43px;

}



.merchantbox{

margin-left: 11px;

}

.tagbox{

margin-left: 48px;

}

.column{

padding-right: 15px;

}

.total{


}
















footer {
  width: 100%;
  min-height: 30px;
  padding: 10px 0 20px 10px;
}

footer .copyright {
  top: -8px;
  margin-right: 20px;
  font-size: .75em;
  color: white;
  font-size: 15px;
  text-align: center;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

.social {
  opacity: .5;
  transition: all .55s;
}

.social:hover {
  transform: scale(1, 1.2);
  opacity: 1;
}
.clearfix {
  clear: both;
}

.footer-links {
  text-align: center;
}

.footer-links img {
  border-radius: 50%;
  max-width: 60px;
}


