
<div class="content">


<span class="card-title"><h1><center>Welcome</center></h1></span>
  <h3><center>Input Your Transaction Details Below</center></h3><br><br>

  <form action="/transactions" method="post">
    <label for="transaction_date">Date: </label>
    <input type="date" name="transaction_date"><br><br>

    <label for="merchant_id">Merchant: </label>
    <select name="merchant_id">
      <% @merchants.each do |merchant| %>
        <option value="<%= merchant.id %>"><%= merchant.name %></option>
      <% end %>
    </select><br><br>

    <label for="tag_id">Tag: </label>
    <select name="tag_id">
      <% @tags.each do |tag| %>
        <option value="<%= tag.id %>"><%= tag.name %></option>
      <% end %>
    </select><br><br>

    <label for="value">Value: </label>
    <input type="number" name="value"><br><br>

   <input type='submit' value="Save Transaction">
  </form>

</div>




